html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #daccba;
    color: #3b2621;
}

/* Helpers */

/* Logo */
.logo {
    max-width: 160px;
}

/* Product Image */
.image-container {
    position: relative;
    padding-top: 100%;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}